<div class="container h-100 bg-success">
  <div class="row h-100 d-flex align-items-center">
    <div class="col h-50">
      <div class="card h-100 text-center text-white bg-dark">
        <div class="w-100 mt-4">
          <img class="card-img-top rounded-circle img-fluid"
          style="width: 10em;"
            src="https://i.pinimg.com/originals/01/f1/df/01f1dfd74972ae3baf9d601461222b52.jpg" 
            alt="Teagan Croft">
        </div>
        <div class="card-body">
          <h4 class="card-title">Teagan Croft</h4>
          <h5 class="card-subtitle">Developer Full Stack</h5>
          <p class="card-text mt-3">
            
            <i class="fab fa-2x ml-2 fa-linkedin"></i>
            <i class="fab fa-2x ml-2 fa-twitter-square"></i>
            <i class="fab fa-2x ml-2 fa-facebook-square"></i>
            
          </p>
        </div>
      </div>
    </div>
    <div class="col">Datos</div>
  </div>
</div>